<!DOCTYPE html>
<html>
    <head>
    <title>select_teacher</title>
    <meta charset="UTF-8" />
    <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
        crossorigin="anonymous"
    />
    <!-- <link rel="stylesheet" href="css/yogin.css" /> -->
    <link rel="stylesheet" href="./../static/css/styles.css" />
    </head>

    <body>
        <header>
            <div class="Header">
                <h2>ようこそ {{name}}さん</h2>
            </div>
        </header>
        <div> 
            <div>
                <form action="/play_yoga"  method="POST">
                    <input type="submit" class="btn btn-success" name="video" id="login_submit" value="動画A">
                </form>
            </div>
            <div>
                <form action="/play_yoga"  method="POST">
                    <input type="submit" class="btn btn-success" name="video" id="login_submit" value="動画B">
                </form>
            </div>
        </div>



    </body>
</html>